.series-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.categosery-container {
  margin: 20px;
}

.categosery-title {
  text-align: center;
  color: white;
}

.serie-card {
  cursor: pointer;
}

.serie-card img {
  width: 200px;
  height: auto;
  border: 3px solid #32de84;
  border-radius: 20px;
}

.series-container-horizontal {
  display: flex;
  overflow-x: auto;
  gap: 10px;
  padding: 10px;
  white-space: nowrap;
  width: 100%;
  max-width: 1500px;

  scrollbar-width: thin;
  scrollbar-color: #32de84 #1c1c1c;
}

.series-container-horizontal::-webkit-scrollbar {
  width: 12px;
}

.series-container-horizontal::-webkit-scrollbar-thumb {
  background-color: #32de84;
  border-radius: 6px;
}

.series-container-horizontal::-webkit-scrollbar-track {
  background-color: #1c1c1c;
}
