/*Contact sectiom*/
.content-header{
  font-family: 'Oleo Script', cursive;
  color:#fcc500;
  font-size: 45px;
}

.section-content{
  text-align: center; 

}
#contact{
    
    font-family: 'Teko', sans-serif;
  padding-top: 60px;
  width: 100%;
  width: 100vw;
  height: 550px;
 
 
    color : #fff;    
}


.form-line{
  border-right: 1px solid #B29999;
}

.form-group{
  margin-top: 10px;
}
label{
  font-size: 1.3em;
  line-height: 1em;
  font-weight: normal;
}
.form-control{
  font-size: 1.3em;
  color: #080808;
}
textarea.form-control {
    height: 135px;
   /* margin-top: px;*/
}

.submit{
  font-size: 1.1em;
  float: right;
  width: 150px;
  background-color: transparent;
  color: #fff;

}
.content-header {
  font-family: 'Oleo Script', cursive;
  color: #fcc500;
  font-size: 45px;
}

.section-content {
  text-align: center;
}
#contact {
  font-family: 'Teko', sans-serif;
  padding-top: 60px;
  width: 100%;
  width: 100vw;
  height: 550px;

  color: #fff;
}

.form-line {
  border-right: 1px solid #b29999;
}

.form-group {
  margin-top: 10px;
}
label {
  font-size: 1.3em;
  line-height: 1em;
  font-weight: normal;
}
.form-control {
  font-size: 1.3em;
  color: #080808;
}
textarea.form-control {
  height: 135px;
  /* margin-top: px;*/
}

.submit {
  font-size: 1.1em;
  float: right;
  width: 150px;
  background-color: transparent;
  color: #fff;
}
