.contact-info p strong {
  font-family: var(--title-font-family);
  min-width: 90px;
}

.contact-info p a {
  color: var(--p-color);
  border-bottom: 1px solid;
  padding-bottom: 3px;
}

.contact-info p a:hover {
  color: var(--secondary-color);
}

.google-map {
  border-radius: var(--border-radius-medium);
}

.contact-form .form-floating > textarea {
  border-radius: var(--border-radius-medium);
  height: 150px;
}
.content-header {
  font-family: 'Oleo Script', cursive;
  color: #fcc500;
  font-size: 45px;
}

.section-content {
  text-align: center;
}
#contact {
  font-family: 'Teko', sans-serif;
  padding-top: 60px;
  width: 100%;
  width: 100vw;
  height: 550px;

  color: #fff;
}

.form-line {
  border-right: 1px solid #b29999;
}

.form-group {
  margin-top: 10px;
}
label {
  font-size: 1.3em;
  line-height: 1em;
  font-weight: normal;
}
.form-control {
  font-size: 1.3em;
  color: #080808;
}
textarea.form-control {
  height: 135px;
  /* margin-top: px;*/
}

.submit {
  font-size: 1.1em;
  float: right;
  width: 150px;
  background-color: transparent;
  color: #fff;
}
