$secondary : red;
$primary : yellow;
$teal : #20c997;
// Create your own map
$custom-colors: (
  "teal": $teal
);
@import '~bootstrap/scss/bootstrap';
// Merge the maps
$colors: map-merge($colors, $custom-colors);






